<div class="container">
    <h2 style="text-align: center;">Quotes</h2>
    <hr>
    <div class="row">
        <div *ngFor='let quote of quotes; let i = index' class="col-md-4" id="card-ad">
            <div class="card justify-content text-center">
                <p>{{quote.quote}}</p>
                <p>{{quote.createdDate}}</p>
                <p>{{quote.author}}</p>
                <div class="card-footer">
                    <button class="btn btn-outline-danger" (click)='toggleDetails(i)'>Details</button>
                    <app-quote-detail *ngIf='quote.showDescription' [quote]="quote" (isComplete)='deleteQuote($event, i)'></app-quote-detail>
                </div>
            </div>

        </div>
    </div>
</div>