/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
* {
    font-family: 'Xanh Mono', monospace;
}

body {
    background-image: url(./assets/bgpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav-brand {
    font-weight: 700;
}

.logo {
    font-size: 30px;
    color: royalblue;
}

nav a {
    color: red;
}

nav a:hover {
    color: rgb(204, 204, 0);
}

nav {
    background-color: rgb(255, 255, 153);
}

#btHome {
    margin-left: 1250px;
}